body{
    display: flex;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.toy-body{
    height: 600px;
}

.grid{
    background-color: black;
    height: 450px;
    width: 452px;
    margin-right: -525px;
    margin-top: 36px;
}

.controlers{
    display: flex;
    justify-content: space-between;
    margin-top: -110px;
}

.left-controler,
.right-controler{
    height: 100px;
}