html{
    background: url('./img/crayonBackground.png');
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.toy-body{
    height: 600px;
    pointer-events: none;
}

.row{
    display: flex;
}

.grid{
    background-color: white;
    height: 450px;
    width: 450px;
    margin-right: 4px;
    margin-top: 36px;
    z-index: 1;
    position: absolute;
}

.square{
    
}

.controlers{
    display: flex;
    justify-content: space-between;
    margin-top: -110px;
}

.left-controler{
    height: 100px;
    margin-left: 30px;
}

.rotate {
    border-radius: 50%;
    cursor: ns-resize;
  }

/*Color picker style*/
input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 90px;
    height: 90px;
    margin-right: 25px;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}